# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/

# Node
node_modules/
dist/
*.local

# Ambiente
.env
*.db
*.sqlite3

# Sistema operacional / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
